/*pretty*/
body {
	background: url('https://cdn.pixabay.com/photo/2014/03/09/17/05/africa-283868_1280.jpg');
	background-repeat: no-repeat;
}

img {
	display: block;
    height: auto;
    width: 100%;
    position: relative;
}

h1{
	display: block;
	text-align: center;
	font-size: 50px;
	outline : 1px white solid;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
    background: grey;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #fffdfd;
    color: #333333;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #white;
    text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid;
    background: #bbc3cc;
    font-weight: normal;
    color: #ffffff;
}
#accordion {
	width: 700px;
	margin: 0 auto;
}

#tabs{
	width: 700px;
	margin: 0 auto;
}





